.place__paragraph {
  grid-area: paragraph;
  font-family: 'inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  align-self: start;
  color: #fff;
  margin-top: 0;
  margin-bottom: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 685px) {
  .place__paragraph {
    margin: 0 14px 25px;
  }
  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }
}
