.website__link {
  font-family: 'inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  opacity: 1;
  transition: opacity 3s ease;
}

.website__link:hover {
  opacity: 0.3;
}
